footer{
  background-color:#e0e0e0;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 90px;
  width: 100%;
  overflow: hidden;
}
.lbl-toggle{
  background: #e0e0e0; 
}
.content-inner { background: rgba(161, 161, 161, 0.2);
   border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  }
.pure-menu-item .pure-menu-link {
    color: gray; /* Change this to your desired color */
}
